html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.smallersearch-article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.smallersearch-article__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smallersearch-article__card img {
    width: 10rem;
    height: 7rem;
    border-radius: 5px;
}
.smallersearch-article__card h6, a {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
}
