
.page--wrapper {
    display: flex;
}
.articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 85vw;
    height: min-content;
}
.smaller-articles--container {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}